<template>
  <footer class="footer">
    <div class="container">
      <div class="footer-top-box">
        <div class="footer-social-row">
          <a href="https://facebook.com" target="_blank" rel="noopener" class="footer-social-icon facebook" aria-label="Facebook">
            <img src="/src/assets/icons/facebook.svg" width="32" height="32" alt="Facebook" />
          </a>
          <a href="https://instagram.com" target="_blank" rel="noopener" class="footer-social-icon instagram" aria-label="Instagram">
            <img src="/src/assets/icons/instagram.svg" width="32" height="32" alt="Instagram" />
          </a>
          <a href="https://twitter.com" target="_blank" rel="noopener" class="footer-social-icon twitter" aria-label="Twitter">
            <img src="/src/assets/icons/twitter.svg" width="32" height="32" alt="Twitter" />
          </a>
          <a href="https://discord.com" target="_blank" rel="noopener" class="footer-social-icon discord" aria-label="Discord">
            <img src="/src/assets/icons/discord.svg" width="32" height="32" alt="Discord" />
          </a>
        </div>
      </div>
      <div class="footer-container">
        <div class="footer-left-box">

        </div>
        <div class="footer-center-box">
        </div>
        <div class="footer-right-box">
        </div>

      </div>


    </div>
  </footer>
</template>